.button1 {
    border: solid black;
    background-color: blueviolet;
    color: yellow;
    border-radius: 17px;
}
.button2 {
    border: solid black;
    background-color: yellow;
    color: blueviolet;
    border-radius: 17px;
}

body {
    margin: 0;
    padding: 0;
    background-color: darkblue;
}